@using Kendo.Mvc.UI
@using TelerikPerformanceDemo.Models

<html>
<head>

</head>
<body>
<div>
    <div>
        <label>Custom</label>
        <input type="button" />
    </div>
    <div>
        <label>Default</label>
        <input type="button" />
    </div>
</div>
<div>
    @(Html.Kendo().Grid<OrderDetailViewModel>()
                        .Name("orderDetails")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.OrderDetailID);
                            columns.Bound(c => c.AccountNumber);
                            columns.Bound(c => c.OrderDate);
                            columns.Bound(c => c.ProductName);
                            columns.Bound(c => c.OrderTrackingNumber);
                            columns.Bound(c => c.OrderQty);
                            columns.Bound(c => c.UnitPrice);
                            columns.Bound(c => c.LineTotal);
                        })
                          .Pageable(pageable => pageable
                              .AlwaysVisible(true) 
                              .Refresh(true)
                              .PageSizes(new[] { 25, 100, 1000 })
                              .Numeric(true)
                              .ButtonCount(5)                              
                              .PreviousNext(true)
                          )
                        .DataSource(dataSource => dataSource
                            .WebApi()
                            .Events(a => a.Error("Grille.ErreurDataSource")
                                .RequestStart("Grille.requestStart")
                                .RequestEnd("Grille.requestEnd"))
                            .Read(read => read.Url("Home/GetData"))
                            .PageSize(1000)
                        )
    )
</div>
</body>
</html>